.trackinfo{
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: $Nunito;
    position: fixed;
}

.trackinfo_background{
    background-color: rgba(0, 0, 1, 0.75);
    width: 100vw;
    height: 100vh;
    animation: backgroundAppear 0.9s;
    display: flex;
    justify-content: center;
    position: fixed;
}
@keyframes backgroundAppear {
    from {opacity: 0}
    to {opacity: 1}
}

.trackinfo_container{
    width: 75vw;
    height: 80vh;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    box-shadow: 0 0 10px 4px rgba(rgb(0, 0, 0), 0.8);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    transform: translate(0, 5%);
    z-index: 1;
    font-family: $Barlow;
    animation: appear 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 1300px){
        width: 80vw;
        height: 75vh;
    }

    @media(max-width: 1200px){
        min-height: 0;
        width: 50vw;
    }

    @media(max-width: 800px){
        width: 75vw;
    }
}
@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

.trackinfo_close-btn{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 30px;
    margin: 5px 20px 5px 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(64, 218, 74);
    color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 5px rgb(36, 73, 21);
}

.trackinfo_close-btn:active{
    box-shadow: none;
    transform: translate(0, 5px);
    transition: 0.05s;
}

.trackinfo_data-container{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 0;

    @media(max-width: 1200px){
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    @media(max-width: 1100px){
        margin-top: 10px;
    }
}

.trackinfo_thumbnail{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;
    width: 45%;
    margin-left: 45px;
    margin-right: 10px;

    @media(max-width: 1300px){
        margin-left: 0;
        margin-right: 0;
        width: 60%;
        margin: 20px 0;
    }

    @media(max-width: 1200px){
        flex-direction: row;
        justify-content: center;
    }

    @media(max-width: 1100px){
        width: 95%;
        margin-left: 0;
        margin-right: 0px;
    }
}
.trackinfo_thumbnail-img{
    box-shadow: 0 5px 10px 2px rgba(rgb(0, 0, 0), 0.5);
    height: 340px;
    width: 340px;

    @media(max-width: 1300px){
        height: 260px;
        width: 260px;
        margin: 0 50px;
    }

    @media(max-width: 1200px){
        height: 170px;
        width: 170px;
        margin: 0 20px 0 0px
    }

    @media(max-width: 1200px){
        height: 120px;
        width: 120px;
    }
}
.trackinfo_thumbnail-text{
    display: flex;
    flex-direction: column;

    @media(max-width: 1300px){
        font-size: 100%;
        margin: 10px 0;
    }
}
.trackinfo_thumbnail-title{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(58, 58, 58);
    padding: 5px 8px;
    border-radius: 20px;
    margin: 20px 10px 0;

    @media(max-width: 1300px){
        font-size: 100%;
        margin: 0;
    }
}
.trackinfo_thumbnail-artist{
    font-size: 15px;
    margin-top: 8px;

    @media(max-width: 1300px){
        font-size: 100%;
    }
}


.trackinfo_specs{
    letter-spacing: 1px;
    width: 52%;
    color: rgb(36, 221, 98);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 1100px){
        width: 85%;
    }

    @media(max-width: 1200px){
        justify-content: space-between;
        height: 90%;
    }

    @media(max-width: 1300px){
        width: 50vw
    }
}

.trackinfo_specs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(35, 36, 35);
    border-radius: 30px;
    font-size: 95%;
    padding: 10px 30px 10px 20px;
    height: 140px;
    width: 55%;
    margin-bottom: 30px;
    box-shadow: 0 5px 5px rgba(rgb(7, 7, 7), 0.2);
    letter-spacing: 2px;

    ::-webkit-scrollbar {
        display: block;
    }

    @media(max-width: 1300px){
        line-height: 80%;
        height: 40%;
        font-size: 100%;
        width: 70%;
    }

    @media(max-width: 1200px){
        font-size: 70%;
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        line-height: 30%;
        height: 25%;
    }
}


.trackinfo_duration{
    display: flex;
    margin-bottom: 14px;

    div{
        color: white;
    }
}
.trackinfo_tempo{
    display: flex;
    margin-bottom: 14px;

    div{
        color: white;
    }
}
.trackinfo_key{
    display: flex;
    margin-bottom: 14px;
    
    div{
        color: white;
    }
}
.trackinfo_scale{
    display: flex;
    margin-bottom: 14px;
    
    div{
        color: white;
    }
}
.trackinfo_loudness{
    display: flex;
    
    div{
        color: white;
    }
}
.trackinfo_energy{
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    div{
        width: 26vw;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-top: 5px;
        font-size: 80%;
        overflow: hidden;

        div {
            margin: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(97, 60, 60) 0%, rgb(255, 0, 0) 100%);
            border: none;
            animation: bar 2s;
        } 

        p {
            transform: translate(0, -130%);
        }  
    }

    @media(max-width: 1200px){
        font-size: 60%;
        height: 30px;
        margin-bottom: 8px;
        width: 60vw;
    }
}
.trackinfo_danceability{
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    div{
        width: 26vw;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-top: 5px;
        font-size: 80%;
        overflow: hidden;

        div {
            margin: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(43, 59, 83) 0%, rgb(0, 119, 255) 100%);
            border: none;
            animation: bar 2s;
        }  

        p {
            transform: translate(0, -130%);
        }
    }

    @media(max-width: 1200px){
        font-size: 60%;
        height: 30px;
        margin-bottom: 8px;
        width: 60vw;
    }
}
.trackinfo_valence{
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    div{
        width: 26vw;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-top: 5px;
        font-size: 80%;
        overflow: hidden;

        div {
            margin: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(91, 95, 54) 0%, rgb(212, 209, 0) 100%);
            border: none;
            animation: bar 2s;
        }   

        p {
            transform: translate(0, -130%);
        }   
    }

    @media(max-width: 1200px){
        font-size: 60%;
        height: 30px;
        margin-bottom: 8px;
        width: 60vw;
    }
}
.trackinfo_instrumentalness{
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    div{
        width: 26vw;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-top: 5px;
        font-size: 80%;
        overflow: hidden;

        div {
            margin: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(49, 83, 59) 0%, rgb(0, 255, 85) 100%);
            border: none;
            animation: bar 2s;
        } 

        p {
            transform: translate(0, -130%);
        }  
    }

    @media(max-width: 1200px){
        font-size: 60%;
        height: 30px;
        margin-bottom: 8px;
        width: 60vw;
    }
}
.trackinfo_acousticness{
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    div{
        width: 26vw;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-top: 5px;
        font-size: 80%;
        overflow: hidden;

        div {
            margin: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(77, 68, 47) 0%, rgb(177, 108, 29) 100%);
            border: none;
            animation: bar 2s;
        }  

        p {
            transform: translate(0, -130%);
        }     
    }

    @media(max-width: 1200px){
        font-size: 60%;
        height: 30px;
        margin-bottom: 8px;
        width: 60vw;
    }
}
@keyframes bar {
    from {width: 0}
} 

.trackinfo_link{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(21, 231, 74);
    font-size: 19px;
    background-color: rgb(44, 44, 44);
    padding: 5px 10px;
    border-radius: 10px;
    animation: neonLink 2s infinite;
    margin: 25px 0;

    @media(max-width: 1300px){
        font-size: 100%;
    }

    @media(max-width: 1100px){
        font-size: 80%;
        padding: 2px;
    }
}


@keyframes neonLink {
	0% {
        color: rgb(21, 231, 74);
	}

	50% {
        color: rgba(rgb(58, 114, 76), 0.9);
	}

	100% {
        color: rgb(21, 231, 74);
	}
}

.trackinfo_link:hover{
    animation: pulseLink 1s infinite;
}

@keyframes pulseLink {
	0% {
		box-shadow: 0 0 0 0 rgb(46, 163, 54);
	}

	70% {
		box-shadow: 0 0 15px 10px rgba(59, 139, 65, 0);
	}

	100% {
		box-shadow: 0 0 0 rgba(rgb(0, 0, 0), 0);
	}
}