@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600|Abel:300,400,500,600|Barlow:300,400,500,600&display=swap&subset=latin-ext');

@import "./settings/reset";
@import "./settings/fonts";

@import "./html_styles/header";
@import "./html_styles/footer";

@import "./react_styles/TrackSquare";
@import "./react_styles/TrackInfo";
@import "./react_styles/Searchbar";
@import "./react_styles/App";

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(38, 39, 39);
    color: white;
    font-family: $Nunito;
}

::-webkit-scrollbar {
    display: none;
}

#root {
    display: block;
}